<launch>
	<arg name="map" value="last_map"/>
	
	<!-- Setting and loading params and args -->
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<!-- MACHINES  -->
	<machine name="$(env USER)" address="$(env ROS_IP)" user="$(env USER)" default="true" 
		env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
    
    <!-- MAP -->	
    <!-- 
    <node name="map_server" type="map_server" pkg="map_server" args="$(env HOME)/catkin_ws/maps/$(arg map).yaml" output="screen"/>
	
	<node name="path_finding" pkg="path_finding" type="path_finding_server" respawn="true"/>

	<node name="path_checker" pkg="path_checker" type="path_checker_node" respawn="true"/>
     -->
	
	<!-- GUI TOOLS -->
	<!-- 
	
	<node name="gui_execution_diagram" pkg="gui_execution_diagram" type="__init__.py" machine="$(env USER)">
		<remap from="cmd_vel" to="robot$(arg robot)/cmd_vel"/>
		<remap from="scenario" to="robot$(arg robot)/scenario"/>
	</node>
	<node name="gui_scenario_db" pkg="gui_scenario_db" type="__init__.py" machine="$(env USER)"/>
	-->
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/init_global.rviz" />
	
    <!-- SIMULATION ENVIRONMENT -->
    <!-- 
    <include file="$(find robot_visualisation)/launch/run.launch">
		<arg name="robot" value="$(arg robot)"/> 
	</include>
	-->
	
	<!-- DEBUG TOOLS -->
   	<node name="topic_router" pkg="topic_router" type="__init__.py" output="screen" args="route_type:=PointStampedMsg_to_ObstacleArrayMsg route_topic_from:=/clicked_point route_topic_to:=/obstacles"/>
</launch>
