<launch>
    <arg name="robot"/>
	<arg name="map" value="last_map"/>
	
	<!-- Setting and loading params and args -->
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<!-- MACHINES  -->
	<machine name="serveur" address="192.168.150.1" user="$(env USER)" default="true" 
		env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	<machine name="robot$(arg robot)" address="192.168.150.1$(arg robot)" user="odroid" default="false" 
		env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
	
	
	<!--_____________ROBOT_____________-->
	
   	<!-- general tf -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map_robot01" respawn="true"
		args="0 0 0 0 0 0 /map /robot01/odom 20"/>
 
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" respawn="true"
		args="0 0 0 0 0 0 /map odom 20"/> 
   	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" machine="robot$(arg robot)" respawn="true" 
		args="-0.080 0 0.045 3.14159265359 0 0 base_link base_laser_link 20"/> 
		
	<!-- HARDWARE -->
	<group ns="robot$(arg robot)" clear_params="false">
        <include file="$(find robot)/launch/robot_hardware_bis_second_robot.launch">
			<arg name="robot" value="$(arg robot)"/> 
	
		</include>

		
		<!-- SCENARIO -->
		<node name="robot_manager" pkg="robot" type="__init__.py" machine="robot$(arg robot)" respawn="true">
			<!-- <remap from="scenario" to="robot$(arg robot)/scenario"/> -->
		</node>
		<node name="bezier_interpolate" pkg="bezier_curve" type="bezier_interpolate.py" machine="robot$(arg robot)" respawn="true">
			<remap from="scenario" to="robot$(arg robot)/scenario"/>
		</node>
		<env name="DISPLAY" value=":0"/>
		<!--<node name="media_player" pkg="media_player" type="__init__.py" machine="robot$(arg robot)" respawn="true"/>-->
		
		<!-- MOVING AND OBSTACLES -->
		<node name="path_follower" pkg="path_follower" type="path_follower_node" machine="robot$(arg robot)" respawn="true"/>
		<node name="obstacle_laserscan" pkg="obstacle_laserscan" type="obstacle_laserscan_node" machine="robot$(arg robot)" respawn="true">
			<remap from="/robot01/scan" to="/robot$(arg robot)/scan"/> 
	</node>
	
    <!-- SCENARIO EXECUTION-->
   	<node name="gui_execution_diagram" pkg="gui_execution_diagram" type="__init__.py" machine="$(env USER)" respawn="true">
		<remap from="cmd_vel" to="robot$(arg robot)/cmd_vel"/>
		<remap from="scenario" to="robot$(arg robot)/scenario"/>
		<remap from="/robot01/scenario" to="/robot01/robot01/scenario"/>
	</node>
	</group>
	
	<!--_____________SERVER_____________-->
	
		<!-- MAPPING -->
	<node name="path_finding" pkg="path_finding" type="path_finding_server" respawn="true"/>
	
	<include file="$(find robot)/launch/server_localisation_bis.launch">
		<arg name="robot" value="$(arg robot)"/> 
	</include>
        
	 
	<!-- DEBUG TOOLS -->
	 
	<!-- DEBUG TOOLS -->
	<node pkg="topic_router" name="robot_model" type="robot_model" respawn="true"/>
	<node pkg="topic_router" type="__init__.py" name="path_viz_pub" respawn="true"/>
	
	<!-- GUI TOOLS -->
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="true"/>	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/init$(arg robot).rviz" respawn="true"/>


     <!-- SECOND LOCALISATION PARAMETERS CONFIG -->
      	<!-- always at the end of the launch file -->
        <!-- <param name="tf_prefix2" value="robot$(arg robot)"/>
    	<node name="switch_localisation_config" pkg="switch_localisation_config" type="__init2__.py" output="screen" args="-sever-debug" >
        </node> -->

        
    <!-- SIMULATION ENVIRONMENT -->
    <!-- <include file="$(find robot_visualisation)/launch/run.launch">
			<arg name="robot" value="$(arg robot)"/> 
	
	</include>-->


 
</launch>



