
<launch>

	<!-- Setting and loading params and args -->
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	<arg name="robot" value="01"/>
	<arg name="map" value="last_map"/>
	
	<!-- Setting local machin and running graphique tools  -->
	<machine name="$(env USER)" address="192.168.150.1" user="$(env USER)" default="true" env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	<!--
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/scenario.rviz"/>
	 -->
	<node name="gui_execution_diagram" pkg="gui_execution_diagram" type="__init__.py" machine="$(env USER)">
		<remap from="cmd_vel" to="robot$(arg robot)/cmd_vel"/>
		<remap from="scenario" to="robot$(arg robot)/scenario"/>
	</node>
	
	<!-- ROBOT DRIVERS -->
	<include file="$(find robot)/launch/plaisir.machine">
		<arg name="robot" value="$(arg robot)"/> 
	</include>
	
	<!-- STATE MACHINE -->
	<include file="$(find robot)/launch/state_machine.machine">
		<arg name="robot" value="$(arg robot)"/> 
	</include>
	
	<!-- SCENARIO_PROCESS -->
	<include file="$(find robot)/launch/scenario_process.machine">
		<arg name="robot" value="$(arg robot)"/> 
	</include>
	
	<!-- LOCALISATION AND MAP -->
	<include file="$(find robot)/launch/localisation.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="map" value="$(arg map)"/> 
	</include>
</launch>



