<launch>
    <arg name="robot"/>
	
	<!-- MACHINES  -->
	<machine name="$(env USER)" address="$(env ROS_IP)" user="$(env USER)" default="true" 
		env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	<machine name="robot$(arg robot)" address="192.168.1.1$(arg robot)" user="odroid" default="false" 
		env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
	
	<!--_____________ROBOT_____________-->
	
	
	<group ns="robot$(arg robot)" clear_params="false">
		<node pkg="topic_router" type="__init__.py" name="path_viz_pub" respawn="true">
		</node>
    	<!-- HARDWARE -->
        <include file="$(find robot)/launch/robot_hardware.launch">
			<arg name="robot" value="$(arg robot)"/> 
		</include>
		<param name="tf_prefix" value="robot$(arg robot)"/>

		<!-- SCENARIO -->
		<node name="robot_manager" pkg="robot" type="__init__.py" machine="robot$(arg robot)" respawn="true"/>
		<node name="bezier_interpolate" pkg="bezier_curve" type="bezier_interpolate.py" machine="robot$(arg robot)" respawn="true"/>
		
		<!-- MEDIA PLAYER -->
		<env name="DISPLAY" value=":0"/>
		<node name="media_player" pkg="media_player" type="__init__.py" machine="robot$(arg robot)" respawn="true"/>
		
		<!-- MOVING AND OBSTACLES -->
		<node name="path_follower" pkg="path_follower" type="path_follower_node" machine="robot$(arg robot)" respawn="true"/>
		<!--
		<node name="obstacle_laserscan" pkg="obstacle_laserscan" type="obstacle_laserscan_node" machine="robot$(arg robot)" respawn="true"/>
		-->

		<!-- LOCALISATION -->
		<!-- TO BYPASS LOCALISATION -->
		<node pkg="tf" type="static_transform_publisher" name="odom_to_map" machine="robot$(arg robot)" respawn="true" 
			args="0 0 0  0 0 0 /map /robot$(arg robot)/odom 100"/>
		<!-- END TO BYPASS LOCALISATION -->
		<!-- 
		<include file="$(find robot)/launch/server_localisation.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name='init_done' value="false"/>
		</include>
		<node name="switch_localisation_config" pkg="switch_localisation_config" type="__init__.py" output="screen" respawn="false">
   		</node>
		 -->
	</group>
</launch>