<launch>
	<!-- Setting and loading params and args -->
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<!-- ROBOTS -->
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT00)"><arg name="robot" value="00"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT01)"><arg name="robot" value="01"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT02)"><arg name="robot" value="02"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT03)"><arg name="robot" value="03"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT04)"><arg name="robot" value="04"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT05)"><arg name="robot" value="05"/></include>
	<include file="$(find robot)/launch/init_robot.launch" if="$(env LAUNCH_ROBOT06)"><arg name="robot" value="06"/></include>
</launch>
