<launch>
    <rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<arg name="robot"/>
	
	<machine name="serveur" address="192.168.1.1" user="$(env USER)" default="true" 
		env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	<machine name="robot$(arg robot)" address="192.168.1.1$(arg robot)" user="odroid" default="false" 
		env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
	
	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" machine="robot$(arg robot)" respawn="true" 
		args="-0.080 0 0.045  0 0 3.14159265359 base_link base_laser_link 20"/>
	<node name="MD25" pkg="md25" type="md25_node" output="screen" machine="robot$(arg robot)" respawn="true"/>
	<node name="rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen" machine="robot$(arg robot)" respawn="true"/>
	
	<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(env HOME)/catkin_ws/params/cartography_viewer.rviz"/>
	<node name="rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"/>
</launch>

