<launch>
	<arg name="robot"/>
	
	<param name="tf_prefix" value="robot$(arg robot)"/>
	
	<machine name="robot$(arg robot)" address="192.168.150.1$(arg robot)" user="odroid" default="false" 
		env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
    
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" respawn="true"
		args="0 0 0 0 0 0 /map odom 20"/>
	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" machine="robot$(arg robot)" respawn="true"
		args="-0.100 0 0.045 3.14159265359 0 0 base_link base_laser_link 20" />
		
	<node name="MD25" pkg="md25" type="md25_node" output="screen" machine="robot$(arg robot)" respawn="true"/>
	<node name="rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen" machine="robot$(arg robot)" respawn="true"/>
	<node name="bumper" pkg="robot_sensor" type="bumper" machine="robot$(arg robot)" respawn="true"/>
</launch>
