<launch>
    <rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	<arg name="robot"/>
	
	<param name="tf_prefix" value="robot$(arg robot)"/>
	
	<!-- MACHINES  -->
	<machine name="$(env USER)" address="$(env ROS_IP)" user="$(env USER)" default="true" 
		env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	<machine name="robot$(arg robot)" address="$(env ROBOTS_BASE_IP)$(arg robot)" user="odroid" default="false" 
		env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
	
	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" machine="robot$(arg robot)" respawn="true" 
		args="-0.080 0 0.045  0 0 3.14159265359 /robot$(arg robot)/base_link /robot$(arg robot)/base_laser_link 100"/>
		
	<!-- HARDWARE -->
	<node name="MD25" pkg="md25" type="md25_node" output="screen" machine="robot$(arg robot)" respawn="true"/>
	<node name="rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen" machine="robot$(arg robot)" respawn="true">
		<param name="serial_port" type="string" value="/dev/rplidar"/>  
	</node>
	<node name="bumper" pkg="robot_sensor" type="bumper" machine="robot$(arg robot)" respawn="true"/>
	
	<node name="power_manager" pkg="power_manager" type="__init__.py" machine="robot$(arg robot)" respawn="true"/>
</launch>
