<launch>
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/cartography_viewer.rviz"/>
	
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="1 0 0 0 0 0 /map /robot01/odom 20"/>

   <node pkg="tf" type="static_transform_publisher" name="base_to_odom" args="0 1 0 0 0 0 /robot01/odom /base_link 20"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/catkin_ws/maps/last_map.yaml"/>
	
	<node name="topic_router" pkg="topic_router" type="__init__.py"/>
	
	<!--<node name="gui_controller" pkg="gui_controller" type="__init__.py">
	</node> -->
	

</launch>
