<launch>
	<param name="use_sim_time" value="false" />
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/cartography_viewer.rviz"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/catkin_ws/maps/last_map.yaml"/>
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 /map robot01/odom 20"/>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_odom" args="0 0 0 0 0 0 /robot01/odom robot01/base_link 20"/>
	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="-0.080 0 0.045  0 0 3.14159265359  /robot01/base_link /robot01/base_laser_link 20"/>
	
	<node name="path_finding" pkg="path_finding" type="path_finding_server"/>
	
	<node name="topic_router" pkg="topic_router" type="__init__.py"/>
	
	<node name="bezier_interpolate" pkg="bezier_curve" type="bezier_interpolate.py">
		<remap from="scenario" to="robot01/scenario"/>
		<remap from="path" to="robot01/path"/>
	</node>
</launch>
