/.settings/
/.catkin_workspace
/carto2
/build/
/gpioreader.cpp
/gpioreader
/.pydevproject
/.project
/cartographie_auto
/clean_map.pgm
/plap.yaml
/plop.pgm
/plop.yaml
/plap.pgm
*.pyc
/src.backup
/notrebonplaisir.c
/devel/
/carto
*~
/build_isolated
/devel_isolated
