<launch>
  <group ns="carto">
    <!-- Declare neato machine -->
    <machine name="neato" address="192.168.150.100" user="odroid" default="false" env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
    <!-- Declare server machine -->
    <machine name="server" address="192.168.150.1" user="serveur" default="true" env-loader="/home/serveur/catkin_ws/devel/env.sh"/>

    <!-- Suivi de trajectoire -->
    <node name="publish_pose" pkg="test_suivi" type="neato_publish_pose.py" output="screen"/>
  </group>
</launch>
