<launch>
      
	<arg name="robot"/> 
	
	<param name="tf_prefix" value="robot$(arg robot)"/>
	
	   	 <rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
      
     <!--  <node pkg="tf" type="static_transform_publisher" name="base_to_odom$(arg robot)" args="0 0 0 0 0 0 robot$(arg robot)/odom robot$(arg robot)/base_link 20" respawn="false" />-->
        
        <node name="robot_visualisation" pkg="robot_visualisation" type="__init__.py" output="screen"/>


</launch>