<launch>
     
       <!-- For 2D simulation -->
        <include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
        
     <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(env HOME)/catkin_ws/maps/last_map.yaml"/>


	<!--<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />-->

 
       <node name="stdr_robot" pkg="stdr_robot" type="robot_handler" args="add $(find stdr_resources)/resources/robots/odroid.xml $(arg position)" respawn="false"/>

        <node name="$(anon stdr_gui_node)" pkg="stdr_gui" type="stdr_gui_node"/>
	


</launch>
