<launch>
	<machine name="neato" address="192.168.150.100" user="odroid" default="false" env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
	<machine name="artlab" address="192.168.150.1" user="$(env USER)" default="true" env-loader="$(env HOME)/catkin_ws/devel/env.sh"/>
	  
	<arg name="robot" value="00"/>
	  
	<rosparam command="load" file="$(env HOME)/catkin_ws/params/myparams.yaml"/>
	
	
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" machine="artlab" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/catkin_ws/params/cartography_viewer.rviz" machine="artlab" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/catkin_ws/maps/last_map.yaml" machine="artlab" />
	
	<!-- 
	 <node name="qt_bezier_sender" pkg="gui_controller" type="__init__.py" machine="artlab"/>
	 -->
	  
	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="-0.100 0 0.045 0 0 0 base_link base_laser_link 20" machine="neato" />
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 map odom 20" machine="neato" />
	
	<node name="MD25" pkg="md25" type="md25_node" output="screen" machine="neato" />
	
	
	<node name="gui_scenario_builder" pkg="gui_scenario_builder" type="__init__.py" output="screen" machine="artlab">
		<remap from="scenario" to="robot$(arg robot)/scenario"/>
	</node>
	
	<node name="path_follower" pkg="path_follower" type="path_follower" output="screen" machine="artlab"/>
	<node name="bezier_interpolate" pkg="bezier_curve" type="bezier_interpolate.py" output="screen" machine="artlab"/>
	
	<node name="rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen" machine="neato"/>
</launch>