<launch>
  
  <machine name="neato" address="192.168.150.100" user="odroid" default="false" env-loader="/home/odroid/catkin_ws/devel/env.sh"/>
  
  <rosparam command="load" file="/home/serveur/catkin_ws/params/myparams.yaml"/>
  
  <node machine="neato" name="md25" pkg="md25" type="md25_node" output="screen"/>

</launch>
